<!DOCTYPE html>
<head>
    <title>Video main page</title>
</head>
<body>
    <h1>This is the list of endpoints and availble linkes</h1>
    <hr>
    <ul>
        <li>
            <a href="/testStream" target="blank">watch test stream</a>
        </li>
        <li>
            <p><b>Start stream cam1: </b> localhost:$port/streamCam1</p>
            <p><b>Start stream cam2: </b> localhost:$port/streamCam2</p>
        </li>
        <li>
            <p><b>Watch stream cam1: </b> localhost:$port/watchCam1</p>
            <p><b>Watch stream cam2: </b> localhost:$port/watchCam2</p>
        </li>
        <li>
            <p><b>Stop stream cam1: </b> localhost:$port/stopCam1</p>
            <p><b>Stop stream cam2: </b> localhost:$port/stopCam2</p>
        </li>

        <li>
            <p><b>Resume stream cam1: </b> localhost:$port/resumeCam1</p>
            <p><b>Resume stream cam2: </b> localhost:$port/resumeCam2</p>
        </li>

        <li>
            <p><b>Pause stream cam1: </b> localhost:$port/pauseCam1</p>
            <p><b>Pause stream cam2: </b> localhost:$port/pauseCam2</p>
        </li>

        <li>
            <p><b>List of cameras: </b>localhost:$port/listCam</p>
        </li>
    </ul>
</body>